<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= music.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= music.Title %> </h1>    
    <br>
    <figure>
        <img src="<%= music.Poster %>" alt="<%= music.Title %>">
    </figure>
    
    <p>AÑO: <%= music.Year %> </p>
    <p>PREMIOS: <%= music.Awards %> </p>
    <p>DURACIÓN: <%= music.Runtime%> </p>

    <br>
    

</body>
</html>